@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}

.btn-primary {
  @apply bg-blue-600 text-white  hover:bg-blue-700;
}
.btn-secondary {
  @apply bg-gray-200 text-gray-800  hover:bg-gray-300;
}
.btn-dashed {
  @apply border border-dashed border-gray-400 text-gray-800 hover:bg-gray-100;
}
.btn-ghost {
  @apply text-gray-800 hover:bg-gray-100;
}
.btn-small {
  @apply text-sm py-1 px-2;
}
.btn-medium {
  @apply text-base py-2 px-4;
}
.btn-large {
  @apply text-lg py-3 px-6;
}
